<legend>购物车</legend>

<% if notice %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>
<% end %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th>数量</th>
      <th>价格</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @cart %>
    <!-- <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.total_price) %></td>
    </tr>
    <% end %> -->
    <tr>
      <td colspan="2" >合计</td>
      <td><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </tbody>
</table>

<%= button_to "清空购物车" , @carts, {
  :method => "delete",:confirm => "您确定要清空购物车吗？",:class=>"btn pull-right"
}%>
